body {
  font-family: Bebas Neue;
  overflow-x: hidden; }

#bodyContacto {
  background-image: url(../img/wallpaper.jpg);
  background-size: cover; }

/* --------------- NAVBAR --------------- */
.navbar {
  font-size: 30px; }

/* --------------- INDEX DESKTOP --------------- */
#htmlIndex, #bodyIndex {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.parallax1 {
  background: fixed no-repeat 50% 50%;
  background-size: cover;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 50%; }

.parallax2 {
  background: fixed no-repeat 50% 50%;
  background-size: cover;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 60%; }

.parallax3 {
  background: fixed no-repeat 50% 50%;
  background-size: cover;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100vh; }

#seccion1 {
  height: 40%;
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/696/278/large_2x/textured-black-background-vector.jpg);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white; }
  #seccion1 div {
    transition: all 0.5s; }
  #seccion1 .envios {
    display: flex;
    align-items: center; }
    #seccion1 .envios svg {
      margin-right: 16px; }
    #seccion1 .envios:hover {
      color: gray; }
  #seccion1 .transferencia {
    display: flex;
    align-items: center; }
    #seccion1 .transferencia svg {
      margin-right: 16px; }
    #seccion1 .transferencia:hover {
      color: gray; }
  #seccion1 .mercadopago {
    display: flex; }
    #seccion1 .mercadopago img {
      height: 100px; }

#seccion2 {
  background-image: url(https://cdn.foodandwineespanol.com/2020/07/congreso-virtual-cerveceras-latam.jpg);
  display: flex;
  align-content: center;
  justify-content: center; }
  #seccion2 .imgVasos {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    #seccion2 .imgVasos .vasoBirra1 img {
      transition: 1s; }
    #seccion2 .imgVasos .vasoBirra2 img {
      transition: 2s; }
    #seccion2 .imgVasos .vasoBirra3 img {
      transition: 3s; }
    #seccion2 .imgVasos img {
      width: 300px;
      height: 300px;
      border-radius: 10px; }

#seccion3 {
  background-image: url(https://cdn.pixabay.com/photo/2017/04/10/15/59/beer-2218900_960_720.jpg);
  display: flex;
  justify-content: center;
  align-items: center; }
  #seccion3 .cardPromo {
    margin: 1cm; }

/* --------------- CATALOGO DESKTOP --------------- */
#bodyCatalogo {
  background-image: radial-gradient(black, #8b2727); }

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: #885b8a;
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/696/278/large_2x/textured-black-background-vector.jpg);
  background-size: cover;
  height: 150px;
  padding: 30px;
  margin-bottom: 1em; }

.flex-catalogo {
  display: flex;
  justify-content: center;
  margin: 30px;
  gap: 60px;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Chakra Petch', sans-serif;
  margin-bottom: 2cm; }
  .flex-catalogo img {
    width: 230px;
    height: 380px;
    transition: height 1s, width 1s;
    border-radius: 30px; }

.flip-box {
  width: 230px;
  height: 380px;
  perspective: 1000px;
  border-radius: 30px; }
  .flip-box .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d; }
    .flip-box .flip-box-inner .flip-box-front {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-radius: 30px;
      box-shadow: 0px 0px 10px 3px #e94c4c; }
    .flip-box .flip-box-inner .flip-box-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      transform: rotateY(180deg);
      border-radius: 30px;
      opacity: 0.9;
      box-shadow: 0px 0px 30px 5px #ec4e4e; }
      .flip-box .flip-box-inner .flip-box-back p {
        padding-left: 10px;
        padding-right: 10px; }

.birra--honey {
  background-color: #135f13; }

.birra--hoppy {
  background-color: #db2222; }

.birra--ipa {
  background-color: #50cc50; }

.birra--kolsch {
  background-color: #e4d724; }

.birra--porter {
  background-color: #801e1e; }

.birra--smoked {
  background-color: #5858d3; }

.birra--stout {
  background-color: #ee5a54; }

.birra--weizen {
  background-color: yellow; }

.birra--altbier {
  background-color: #f19114; }

.birra--frambuesa {
  background-color: #d44abd; }

.birra--honey {
  color: whitesmoke; }

.birra--hoppy {
  color: whitesmoke; }

.birra--ipa {
  color: black; }

.birra--kolsch {
  color: black; }

.birra--porter {
  color: whitesmoke; }

.birra--smoked {
  color: whitesmoke; }

.birra--stout {
  color: whitesmoke; }

.birra--weizen {
  color: black; }

.birra--altbier {
  color: black; }

.birra--frambuesa {
  color: whitesmoke; }

.ibuAlc {
  background-color: black; }

.ibuAlc2 {
  background-color: whitesmoke;
  border-radius: 10px; }

.newSize {
  font-size: 14px; }

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg); }

.catalogoExtra {
  display: flex;
  justify-content: center;
  margin: 30px;
  gap: 60px; }
  .catalogoExtra img {
    width: 300px;
    height: 300px;
    transition: height 1s, width 1s;
    border-radius: 30px; }
  .catalogoExtra img:hover {
    width: 320px;
    height: 320px; }

/* ------------- FAQ DESKTOP  ------------- */
#bodyFaq {
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/696/278/large_2x/textured-black-background-vector.jpg); }

.faq {
  display: flex;
  align-items: center;
  font-size: 60px;
  color: #885b8a;
  background-image: url(../img/wallpaper.jpg);
  background-size: cover;
  height: 150px;
  padding: 30px; }

.mainTexto {
  display: flex;
  justify-content: center;
  font-family: 'Chakra Petch', sans-serif; }
  .mainTexto .cajaTextos {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 1cm;
    color: whitesmoke; }
    .mainTexto .cajaTextos .textos {
      display: flex;
      flex-direction: column; }
    .mainTexto .cajaTextos h2 {
      font-family: Bebas Neue;
      color: yellow; }

/* ------------- NOSOTROS DESKTOP  ------------- */
#bodyNosotros {
  background-image: radial-gradient(black, #8b2727); }
  #bodyNosotros h2 {
    font-family: Bebas Neue; }

.card1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1cm;
  margin-bottom: 1cm;
  border-radius: 30px;
  font-family: 'Chakra Petch', sans-serif; }
  .card1 img {
    border-radius: 30px; }
  .card1:hover {
    transform: scale(1.05); }

.cardDireccion {
  font-family: 'Chakra Petch', sans-serif;
  margin: 0 auto; }
  .cardDireccion:hover {
    transform: scale(1.05); }

.maps {
  grid-area: maps;
  display: flex;
  justify-content: center;
  margin: 20px; }
  .maps iframe {
    border-radius: 50px; }

/* ------------- CONTACTO DESKTOP  ------------- */
.title {
  margin-top: 1cm;
  margin-bottom: 1cm;
  color: whitesmoke; }

.formContainer {
  border-radius: 2rem;
  padding: 2rem;
  color: whitesmoke;
  margin-bottom: 1cm;
  border: 10px solid #330505;
  font-size: 20px;
  background: #222; }
  .formContainer #form-input {
    color: whitesmoke;
    border: none;
    border-bottom: solid 3px #db4141;
    background: transparent; }
    .formContainer #form-input:focus {
      background: linear-gradient(to bottom, transparent, #444);
      outline: none;
      color: #fff; }
    .formContainer #form-input::placeholder {
      color: #d1b5b5; }
  .formContainer .boton, .formContainer .botonEnviar, .formContainer .botonLimpiar {
    width: 200px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    border: none;
    margin: 30px; }
  .formContainer .botonEnviar {
    background-color: #db4141;
    color: whitesmoke; }
    .formContainer .botonEnviar:hover {
      background-color: #360404; }
    .formContainer .botonEnviar:active {
      background: linear-gradient(to bottom, #db4141, #360404); }
  .formContainer .botonLimpiar {
    background-color: whitesmoke;
    color: #360404; }
    .formContainer .botonLimpiar:hover {
      background-color: #cfbcbc; }
    .formContainer .botonLimpiar:active {
      background: linear-gradient(to bottom, whitesmoke, #cfbcbc); }

/* --------------- FOOTER GENERAL --------------- */
.grid-footer {
  background-color: #440808;
  display: flex;
  flex-direction: column;
  background-color: #350606;
  color: antiquewhite; }
  .grid-footer img {
    width: 50px;
    height: 50px;
    margin: 7px; }

.flex-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  gap: 10px; }
  .flex-icons svg {
    color: #885b8a; }
  .flex-icons svg:hover {
    width: 60px;
    height: 60px; }
  .flex-icons .wsp {
    margin-top: 2px; }

.buscanos {
  text-align: center;
  font-size: 25px;
  margin-top: 1cm; }

.textosfooter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #270303;
  font-family: 'Bebas Neue', cursive;
  color: antiquewhite;
  text-align: center; }
  .textosfooter .texto-footer {
    margin-top: 0.5cm;
    margin-bottom: 0.5cm; }

/* --------------- MOBILE RESPONSIVE --------------- */
@media screen and (min-width: 0px) and (max-width: 450px) {
  /* -------- NAVBAR MOBILE -------- */
  .navbar {
    font-size: 16px; }
  /* -------- INDEX MOBILE -------- */
  #bodyIndex {
    overflow-x: hidden; }
  #seccion1 {
    flex-direction: column;
    height: 100%; }
  #seccion2 {
    height: auto;
    display: flex;
    justify-content: center; }
    #seccion2 .imgVasos {
      height: 1000px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      #seccion2 .imgVasos img {
        width: 200px;
        height: 200px;
        border-radius: 10px; }
  #seccion3 {
    height: auto; }
  /* -------- CATALOGO MOBILE -------- */
  .flex-catalogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .catalogoExtra {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .catalogoExtra img {
      width: 230px;
      height: 230px; }
    .catalogoExtra img:hover {
      width: 280px;
      height: 280px; }
  /* -------- CONTACTO MOBILE -------- */
  .formContainer {
    margin: 16px; } }

/* ----------------- TABLET RESPONSIVE ----------------- */
@media screen and (min-width: 451px) and (max-width: 1024px) {
  /* INDEX TABLET */
  #bodyIndex {
    overflow-x: hidden; }
  #seccion1 {
    flex-direction: column;
    height: 100%; }
  #seccion2 {
    height: auto;
    display: flex;
    justify-content: center; }
    #seccion2 .imgVasos {
      height: 1000px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      #seccion2 .imgVasos img {
        width: 270px;
        height: 270px;
        border-radius: 10px; }
  #seccion3 {
    height: auto; }
    #seccion3 .cardsIndex {
      display: flex;
      flex-direction: column; }
  /* NOSOTROS TABLET */
  .cardComo {
    font-size: 10px; }
  .cardAgua {
    font-size: 12px; }
  .cardLupulo {
    font-size: 14px; } }
