body {
  font-family: Bebas Neue;
  overflow-x: hidden; }

/* --------------- NAVBAR --------------- */
.navbar {
  font-size: 30px; }
  .navbar .navbar-brand img:hover {
    width: 130px; }

/* --------------- INDEX DESKTOP --------------- */
#bodyIndex, #bodyContacto, #bodyCatalogo {
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/696/278/large_2x/textured-black-background-vector.jpg); }

/* --------------- CATALOGO DESKTOP --------------- */
.flex-catalogo {
  display: flex;
  justify-content: center;
  margin: 30px;
  gap: 60px;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Chakra Petch', sans-serif; }
  .flex-catalogo img {
    width: 230px;
    height: 380px;
    transition: height 1s, width 1s;
    border-radius: 30px; }

.flip-box {
  width: 230px;
  height: 380px;
  perspective: 1000px; }
  .flip-box .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d; }
    .flip-box .flip-box-inner .flip-box-front {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-radius: 30px; }
    .flip-box .flip-box-inner .flip-box-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      transform: rotateY(180deg);
      border-radius: 30px;
      opacity: 0.9; }
      .flip-box .flip-box-inner .flip-box-back p {
        padding-left: 10px;
        padding-right: 10px; }

.birra--honey {
  background-color: #135f13; }

.birra--hoppy {
  background-color: #db2222; }

.birra--ipa {
  background-color: #50cc50; }

.birra--kolsch {
  background-color: #e4d724; }

.birra--porter {
  background-color: #801e1e; }

.birra--smoked {
  background-color: #5858d3; }

.birra--stout {
  background-color: #ee5a54; }

.birra--weizen {
  background-color: yellow; }

.birra--altbier {
  background-color: #f19114; }

.birra--frambuesa {
  background-color: #d44abd; }

.birra--honey {
  color: whitesmoke; }

.birra--hoppy {
  color: whitesmoke; }

.birra--ipa {
  color: black; }

.birra--kolsch {
  color: black; }

.birra--porter {
  color: whitesmoke; }

.birra--smoked {
  color: whitesmoke; }

.birra--stout {
  color: whitesmoke; }

.birra--weizen {
  color: black; }

.birra--altbier {
  color: black; }

.birra--frambuesa {
  color: whitesmoke; }

.ibuAlc {
  background-color: black; }

.ibuAlc2 {
  background-color: whitesmoke;
  border-radius: 10px; }

.newSize {
  font-size: 14px; }

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg); }

.titulo {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  opacity: 0.6;
  margin-top: 20px; }
  .titulo h2 {
    margin-top: 10px; }

.catalogoExtra {
  display: flex;
  justify-content: center;
  margin: 30px;
  gap: 60px; }
  .catalogoExtra img {
    width: 300px;
    height: 300px;
    transition: height 1s, width 1s;
    border-radius: 30px; }
  .catalogoExtra img:hover {
    width: 320px;
    height: 320px; }

/* ------------- PROMOCIONES DESKTOP  ------------- */
#bodyPromo {
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/696/278/large_2x/textured-black-background-vector.jpg); }

.grid-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 20px; }
  .grid-main img {
    width: 250px;
    height: 250px; }
  .grid-main img:hover {
    width: 280px;
    height: 280px;
    transition: height 1s, width 1s; }

.cardPromo {
  margin: 15px;
  margin-top: 30px; }
  .cardPromo:hover {
    transform: scale(1.05); }

/* ------------- NOSOTROS DESKTOP  ------------- */
#bodyNosotros {
  background-image: linear-gradient(to left, #e7d8d8, #a58383); }

.card1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1cm;
  margin-bottom: 1cm;
  border-radius: 30px; }
  .card1 img {
    border-radius: 30px; }
  .card1:hover {
    transform: scale(1.05); }

.cardDireccion {
  margin: 0 auto; }
  .cardDireccion:hover {
    transform: scale(1.05); }

.maps {
  grid-area: maps;
  display: flex;
  justify-content: center;
  margin: 20px; }

/* ------------- CONTACTO DESKTOP  ------------- */
.title {
  margin-top: 1cm;
  margin-bottom: 1cm;
  color: whitesmoke; }

.formContainer {
  border-radius: 2rem;
  padding: 2rem;
  color: whitesmoke;
  margin-bottom: 1cm;
  border: 10px solid #330505;
  font-size: 20px;
  background-image: linear-gradient(to left, #8f3e3e, #a32c2c, #413b52); }

.boton, .botonEnviar, .botonLimpiar {
  width: 200px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid black;
  margin: 40px; }
  .boton:hover, .botonEnviar:hover, .botonLimpiar:hover {
    transform: scale(1.05); }

.botonEnviar {
  background-color: #360404;
  color: whitesmoke; }

.botonLimpiar {
  background-color: whitesmoke;
  color: #360404; }

/* --------------- FOOTER GENERAL --------------- */
.grid-footer {
  background-color: #440808;
  display: flex;
  flex-direction: column;
  background-color: #350606;
  color: antiquewhite; }
  .grid-footer img {
    width: 50px;
    height: 50px;
    margin: 7px; }

.flex-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  gap: 10px; }
  .flex-icons svg {
    color: #885b8a; }
  .flex-icons svg:hover {
    width: 60px;
    height: 60px; }

.buscanos {
  text-align: center;
  font-size: 25px;
  margin-top: 1cm; }

.textosfooter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #270303;
  font-family: 'Bebas Neue', cursive;
  color: antiquewhite;
  text-align: center; }
  .textosfooter .texto-footer {
    margin-top: 0.5cm;
    margin-bottom: 0.5cm; }

#enlaceWa {
  font-size: 60px;
  position: fixed;
  bottom: 0;
  right: 30px; }
  #enlaceWa img {
    transition: height 1s, width 1s; }
    #enlaceWa img:hover {
      width: 90px;
      height: 90px; }

/* --------------- MOBILE RESPONSIVE --------------- */
@media screen and (min-width: 0px) and (max-width: 450px) {
  #enlaceWa {
    visibility: hidden; }
  /* -------- NAVBAR MOBILE -------- */
  .navbar {
    font-size: 16px; }
  /* -------- CATALOGO MOBILE -------- */
  .flex-catalogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .catalogoExtra {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .catalogoExtra img {
      width: 230px;
      height: 230px; }
    .catalogoExtra img:hover {
      width: 280px;
      height: 280px; }
  /* -------  PROMOCIONES MOBILE ------- */
  .grid-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-align: center; }
  .grid-main img {
    width: 180px;
    height: 180px; }
  .grid-main img:hover {
    width: 220px;
    height: 220px; }
  /* -------  NOSOTROS MOBILE ------- */
  .main-nosotros {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 20px; }
    .main-nosotros img {
      width: 150px;
      height: 150px; } }

/* ----------------- TABLET RESPONSIVE ----------------- */
@media screen and (min-width: 451px) and (max-width: 1024px) {
  #enlaceWa {
    visibility: hidden; }
  /* PROMOCIONES TABLET */
  .grid-main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; }
    .grid-main img {
      width: 200px;
      height: 200px; }
    .grid-main img:hover {
      width: 240px;
      height: 240px; }
  /* NOSOTROS TABLET */
  .cardComo {
    font-size: 12px; }
  .cardAgua {
    font-size: 14px; } }
