body{
  font-family: Bebas Neue;
  overflow-x: hidden;
}

#bodyContacto{
  background-image: url(../img/wallpaper.jpg);
  background-size: cover;
}

/* --------------- NAVBAR --------------- */

.navbar{
  font-size: 30px;
}

/* --------------- INDEX DESKTOP --------------- */

#htmlIndex, #bodyIndex{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@mixin parallax{
  background: fixed no-repeat 50% 50%;
  background-size: cover;
  width: 100%;
  padding: 0;
  margin: 0;
}

.parallax1{
  @include parallax;
  height: 50%;
}

.parallax2{
  @include parallax;
  height: 60%;
}

.parallax3{
  @include parallax;
  height: auto;
  width: auto;
}

#seccion1{
  height: 40%;
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/696/278/large_2x/textured-black-background-vector.jpg);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(255, 255, 255);
  div{
    transition: all 0.5s;
  }
    .envios{
      display: flex;
      align-items: center;
      svg{
        margin-right: 16px;
      }
      &:hover{
        color: gray;
      }
    }
    .transferencia{
      display: flex;
      align-items: center;
      svg{
        margin-right: 16px;
      }
      &:hover{
        color: gray;
      }
    }
    .mercadopago{
      display: flex;
      img{
        height: 100px;
      }
    }
  }


#seccion2{
  background-image: url(https://cdn.foodandwineespanol.com/2020/07/congreso-virtual-cerveceras-latam.jpg);
  display: flex;
  align-content: center;
  justify-content: center;
    .imgVasos{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .vasoBirra1 img{
        transition: 1s;
      }
      .vasoBirra2 img{
        transition: 2s;
      }
      .vasoBirra3 img{
        transition: 3s;
      }
      img{
        width: 300px;
        height: 300px;
        border-radius: 10px;
      }
    }
}

@mixin flexcards{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  margin-left: -20px;
  margin-right: -20px;
  .flex-box{
    display: flex;
    height: 400px;
    width: 80%;
    margin-bottom: 1cm;
    .flex-img{
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 1.5s;
      padding: 1cm;
      flex-grow: 1;
      img{
        width: 320px;
        height: 320px;
        border-radius: 30px;
      }
    }
    .flex-txt{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 1cm;
      color: whitesmoke;
      flex-grow: 2;
      transition: 1.5s;
      h2{
        color: yellow;
      }
    }
  }
}

#seccion3{
  background-image: url(https://cdn.pixabay.com/photo/2017/04/10/15/59/beer-2218900_960_720.jpg);
  background-size: cover;
  @include flexcards;
  margin: 0;
  article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
  }
  .flex-box{
    
    background-color: rgba(235, 55, 55, 0.4);
    width: 100%;
    .flex-img{
      img{
        width: 420px;
        height: 360px;
      }
    }
    .descQr{
      img{
        width: 350px;
        height: 350px;
      }
    }
    
  }
}
 

/* --------------- CATALOGO DESKTOP --------------- */
#bodyCatalogo{
  background-image: radial-gradient(black, rgb(139, 39, 39));
}

.titulo{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: rgb(136, 91, 138);
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/696/278/large_2x/textured-black-background-vector.jpg);
  background-size: cover;
  height: 150px;
  padding: 30px;
}

@mixin catalogo{
  display: flex;
  justify-content: center;
  margin: 30px;
  gap: 60px;
}

.flex-catalogo {
  @include catalogo;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Chakra Petch', sans-serif;
      img {
          width: 230px;
          height: 380px;
          transition: height 1s, width 1s;
          border-radius: 30px;
      }
}

@mixin flipboxes{
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
}

.flip-box {
  width: 230px;
  height: 380px;
  perspective: 1000px;
  
  border-radius: 30px;
    .flip-box-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
        .flip-box-front {
          @include flipboxes;
          border-radius: 30px;
          box-shadow: 0px 0px 10px 3px rgb(233, 76, 76);
        }
        .flip-box-back {
          @include flipboxes;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          transform: rotateY(180deg);
          border-radius: 30px;
          opacity: 0.9;
          box-shadow: 0px 0px 30px 5px rgb(236, 78, 78);
          p{
            padding-left: 10px;
            padding-right: 10px;
          }
        }
    }
}

// MAPS BG - COLOR DE LAS DESCRIPCIONES

// -------------- BACKGROUND COLORS

$bgs: (
  honey: rgb(19, 95, 19),
  hoppy: rgb(219, 34, 34),
  ipa: rgb(80, 204, 80),
  kolsch: rgb(228, 215, 36),
  porter: rgb(128, 30, 30),
  smoked: rgb(88, 88, 211),
  stout: rgb(238, 90, 84),
  weizen: yellow,
  altbier: rgb(241, 145, 20),
  frambuesa: rgb(212, 74, 189)
);

@each $birra, $color in $bgs {
  .birra--#{$birra} {
    background-color: $color;
  }
}

// -------------- FONT COLORS

$fontcolor: (
  honey: whitesmoke,
  hoppy: whitesmoke,
  ipa: black,
  kolsch: black,
  porter: whitesmoke,
  smoked: whitesmoke,
  stout: whitesmoke,
  weizen: black,
  altbier: black,
  frambuesa: whitesmoke
);

@each $birri, $fcolor in $fontcolor {
  .birra--#{$birri} {
   color: $fcolor;
  }
}

.ibuAlc{
  background-color: black;
}

.ibuAlc2{
  background-color: whitesmoke;
  border-radius: 10px;
}

.newSize{
  font-size: 14px;
}


// FIN MAPS


.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.catalogoExtra{
  @include catalogo;
      img {
          width: 300px;
          height: 300px;
          transition: height 1s, width 1s;
          border-radius: 30px;
      }
      img:hover{
          width: 320px;
          height: 320px;;
      }
}

  /* ------------- NOSOTROS DESKTOP  ------------- */
  
  #bodyNosotros {
    background-image: radial-gradient(black, rgb(139, 39, 39));
    h2{
     font-family: Bebas Neue;
    }
  }

  .flex-nosotros{
    @include flexcards; //MISMO MIXIN QUE DEFINIMOS EN INDEX DESKTOP
  }

/* ------------- FAQ DESKTOP  ------------- */

#bodyFaq {
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/696/278/large_2x/textured-black-background-vector.jpg);
  }

.faq{
  display: flex;
  align-items: center;
  font-size: 60px;
  color: rgb(136, 91, 138);
  background-image: url(../img/wallpaper.jpg);
  background-size: cover;
  height: 150px;
  padding: 30px;
}

.mainTexto{
  display: flex;
  justify-content: center;
  font-family: 'Chakra Petch', sans-serif;
  .cajaTextos{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 1cm;
    color: whitesmoke;
    .textos{
      display: flex;
      flex-direction: column;
    }
    h2{
      font-family: Bebas Neue;
      color: yellow;
     }
  }
}

.cardsFaq{
  display: flex;
  justify-content: space-evenly;
  margin: 40px;
  .cardDireccion{
    width: 200px;
    border-radius: 40px;
    .card-body{
      background-image: url(../img/wallpaper.jpg);
      background-size: cover;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      h2, p{
        color: whitesmoke;
      }
    }
    img{
      border-end-start-radius: 40px;
      border-end-end-radius: 40px;
    }
  }
  .maps{
    iframe{
      height: 400px;
      border-radius: 40px;
    }
  }
}
  

 /* ------------- CONTACTO DESKTOP  ------------- */
  
 .title{
   margin-top: 1cm;
   margin-bottom: 1cm;
   color: whitesmoke;
 }

 .formContainer {
   border-radius: 2rem;
   padding: 2rem;
   color: whitesmoke;
   margin-bottom: 1cm;
   border: 10px solid rgb(51, 5, 5);
   font-size: 20px;
   background: #222;
    #form-input{
      color: whitesmoke;
      border: none;
      border-bottom: solid 3px rgb(219, 65, 65);
      background: transparent;
    
      &:focus{
        background: linear-gradient(to bottom, transparent, #444);
        outline: none;
        color: #fff;
      }
    
      &::placeholder{
        color: rgb(209, 181, 181);
      }
    }

    .boton{
      width: 200px;
      height: 50px;
      font-size: 20px;
      text-align: center;
      border-radius: 20px;
      border: none;
      margin: 30px;
    }
  
    .botonEnviar{
      @extend .boton;
      background-color: rgb(219, 65, 65);
      color: whitesmoke;
      &:hover{
        background-color: rgb(54, 4, 4);
      }
      &:active{
        background: linear-gradient(to bottom, rgb(219, 65, 65), rgb(54, 4, 4));
      }
    }
  
    .botonLimpiar{
      @extend .boton;
      background-color: whitesmoke;
      color:rgb(54, 4, 4);
      &:hover{
        background-color: rgb(207, 188, 188);
      }
      &:active{
        background: linear-gradient(to bottom, whitesmoke, rgb(207, 188, 188));
      }
    }
}


  
  /* --------------- FOOTER GENERAL --------------- */
  
  .grid-footer { 
    background-color: rgb(68, 8, 8); 
    display: flex;
    flex-direction: column;
    background-color: rgb(53, 6, 6);
    color: antiquewhite;

    img{
        width: 50px;
        height: 50px;
        margin: 7px;
      }

  }
  
  .flex-icons{
    display:flex;
    justify-content: center;
    margin-bottom: 15px;
    gap: 10px;

    svg{
      color: rgb(136, 91, 138);
    }

    svg:hover{
        width: 60px;
        height: 60px;   
    }

    .wsp{
      margin-top: 2px;
    }
  }
  
  .buscanos{
    text-align: center;
    font-size: 25px;
    margin-top: 1cm;
  }
  
  .textosfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 3, 3);
    font-family: 'Bebas Neue', cursive;
    color: antiquewhite;
    text-align: center;

    .texto-footer{
        margin-top: 0.5cm;
        margin-bottom: 0.5cm;
      }
  }
 
  /* --------------- MOBILE RESPONSIVE --------------- */
  
  @media screen and (min-width: 0px) and (max-width:450px){
  
  /* -------- NAVBAR MOBILE -------- */
  
    .navbar{
      font-size: 16px;
    }

    /* -------- INDEX MOBILE -------- */
  
    #bodyIndex{
      overflow-x: hidden;
    }

    #seccion1{
      flex-direction: column;
      height: 100%;
    }

    #seccion2{
      height: auto;
      display: flex;
      justify-content: center;
      .imgVasos{
        height: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        img{
          width: 200px;
          height: 200px;
          border-radius: 10px;
        }
      }
    }

    #seccion3{
      height: auto;
      .flex-promos{
        margin: 10px;
        .flex-box{
          flex-direction: column;
          height: 100%;
          width: 100%;
            
            .flex-img{
              order: 1;
              img{
                height: 240px;
                width: 300px;
              }
            }
            .flex-txt{
              order: 2;
              font-size: 18px;
            }
            .descQr img{
              height: 260px;
              width: 260px;
            }
        }
    }
  }

    /* -------- CATALOGO MOBILE -------- */
  
    .flex-catalogo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; 
    }
    
    .catalogoExtra { 
      display: flex;
      flex-direction: column;
      align-items: center;

      img{
        width: 230px;
        height: 230px;
      }

      img:hover{
        width: 280px;
        height: 280px;
        }
     }

     /* -------- NOSOTROS MOBILE -------- */

    .flex-nosotros{
      margin: 16px;
      .flex-box{
        flex-direction: column;
        height: 100%;
        width: 100%;
          
          .flex-img{
            order: 1;
            img{
              height: 230px;
              width: 230px;
            }
          }
          .flex-txt{
            order: 2;
            font-size: 18px;
          }
      }
  }

   /* -------- FAQ MOBILE -------- */

  .cardsFaq{
    flex-direction: column;
    align-items: center;
    margin: 0;
    .cardDireccion{
      width: 350px;
      border-radius: 40px;
      margin-bottom: 16px;
      img{
        border-end-start-radius: 40px;
        border-end-end-radius: 40px;
      }
    }
    .maps{
      margin-bottom: 16px;
      iframe{
        height: 300px;
        width: 250px;
        border-radius: 40px;
      }
    }
  }

     /* -------- CONTACTO MOBILE -------- */

     .formContainer{
       margin: 16px;
     }

  }
  
  
  /* ----------------- TABLET RESPONSIVE ----------------- */
  
  @media screen and (min-width: 451px) and (max-width:1024px){

  /* INDEX TABLET */

  #bodyIndex{
    overflow-x: hidden;
  }

  #seccion1{
    flex-direction: column;
    height: 100%;
  }

  #seccion2{
    height: auto;
    display: flex;
    justify-content: center;
    .imgVasos{
      height: 1000px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      img{
        width: 270px;
        height: 270px;
        border-radius: 10px;
      }
    }
  }


  #seccion3{
    height: auto;
    .flex-promos{
      margin: 10px;
      .flex-box{
        flex-direction: column;
        height: 100%;
        width: 100%;
          
          .flex-img{
            order: 1;
            img{
              height: 300px;
              width: 360px;
            }
          }
          .flex-txt{
            order: 2;
            font-size: 18px;
          }
      }
  }
}

  /* NOSOTROS TABLET */

    .flex-nosotros{
      margin: 16px;
      .flex-box{
        flex-direction: column;
        height: 100%;
        width: 100%;
          
          .flex-img{
            order: 1;
            img{
              height: 300px;
              width: 300px;
            }
          }
          .flex-txt{
            order: 2;
            font-size: 20px;
          }
      }
  }

   /* -------- FAQ TABLET -------- */

}
